@import url(https://cloud.typography.com/7463094/7169552/css/fonts.css);

/*Set all elements*/
* {
    margin: 0;
    padding: 0;
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

:root {
    --black: black;
    --accent-color: #FF2801;
    --page-margin: 15px;
}

body img {
    display: block;
    max-width: 100%;
    margin: auto;
}


.p-tag {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #A0A1A6;
    font-weight: bold;
}

/* Animation */
#intro-text {
    -webkit-animation: fadein 4s;
    animation: fadein 4s;
}

#animate-img {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.space {
    margin-bottom: 1.3em;
}


/*Footer*/

footer {
    text-align: center;
    margin: 5em auto 1em auto;
}

footer p {
    font-size: 0.8em;
    color: #A0A1A6;
    margin-top: 1em;
}

/*@media screen and (min-width: 370px) {*/

body {
    max-width: 1200px;
    margin: auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#logo {
    margin-top: 0;
    margin-right: var(--page-margin);
    width: 54px;
    height: 54px;
    background-color: var(--black);
    border-radius: 0 0 4px 4px;
}

#intro-text {
    display: flex;
    align-items: center;
    height: 393px;
    margin: 0 var(--page-margin);
}

h1 {
    color: var(--black);
    font-size: 2.2em;
    line-height: 48px;
    letter-spacing: -0.02em;
}

h2 {
    color: var(--black);
    padding-top: 47px;
    padding-bottom: 16px;
    font-size: 1.75em;
    /*line-height: 2.375em;*/
    letter-spacing: -0.02em;
}

h3 {
    font-size: 1.1em;
    color: var(--black);
}

p {
    font-size: 1em;
    line-height: 23px;
    font-weight: lighter;
}

.red {
    color: var(--accent-color);
}

.app-container {
    list-style-type: none;
}

.app-container a {
    height: 90px;
    display: grid;
    grid-template-columns: 85px 1fr;
    grid-template-rows: 90px 90px 90px;
}

/*#shorty-plug-img {*/
/*    width: 54px;*/
/*    margin-right: 15px;*/
/*}*/

/*#shorty-ext-img {*/
/*    width: 51px;*/
/*    margin-right: 18px;*/
/*}*/

/*#awake-img {*/
/*    width: 56px;*/
/*    margin-right: 15px;*/
/*}*/

.app-container a img {
    margin: 0;
}

.app-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ethos {
    margin: 0 var(--page-margin);
}

#apps h2 {
    margin: 0 var(--page-margin);
}

/*@media screen and (min-width: 550px) {*/


/*@media screen and (min-width: 600px) {*/


/*@media screen and (min-width: 750px) {*/
